body{
	background-color: black;
	color: white;
}

body, h1, h2, h3 {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 7pt;
	letter-spacing: 3px;
	line-height: 1;
}

.logo {
	margin-bottom: 10px;
}

.container {
	padding: 30px 0px;
}

iframe {
	padding: 0px;
}

.movies td {
	padding: 10px;
}

#movieplayer {
	display: none;
}

.movie {
    position: relative;
    overflow: hidden;
	padding: 0px;
	border: 1px solid grey;
}

.movie:hover, .movie:focus {
	border-color: white;
}

.movie:hover img {
	-webkit-filter: brightness(30%);
	-moz-filter: brightness(30%);
	filter: brightness(30%);
}

.movielabel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
	-webkit-transition: opacity 100ms linear;
	-moz-transition: opacity 100ms linear;
	transition: opacity 100ms linear;
}

.movielabel:hover {
	opacity: 1;
	-webkit-transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	transition-delay: 200ms;
}

.movielabel h1 {
	font-size: 2em;
	font-weight: 200;
	color: #fff;
	position: absolute;
	top: 15%;
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

.movielabel p {
	font-size: 3em;
	font-weight: 200;
	line-height: 1;
	color: #fff;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

.test {
	display: none;
	font-size: 3.7vw;
	font-weight: 200;
	margin-bottom: 10px;
}

.test #titel {
	font-size: 2.1vw;
	text-decoration: underline;
	/*font-variant: small-caps;*/
	margin-right: 17px;
	vertical-align: super;
	letter-spacing: 1px;
}

#info {
	margin-top: 200px;
    font-style: italic;
    font-family: monospace;
    font-size: 1.2em;
    color: darkgray;
    background-color: whitesmoke;
    padding: 10px 40px;
    letter-spacing: 2px;
}

#info a, a:hover, a:focus {
	color: darkgrey;
}