body
{
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 9pt;
	letter-spacing: 6px;
	color: white;
}

.logo
{
	margin-bottom: 10px;
}

.container{
	padding: 60px 0px;
}

.row .moviethumb{
	margin: 10px 0px;
}

.img-polaroid {
	padding: 0px;
	border: 1px solid grey;
}

iframe
{
	padding: 0px;
	/*border: 1px solid grey;*/
}