body {
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 9pt;
	letter-spacing: 6px;
	color: white;
}

.logo {
	margin-bottom: 10px;
}

.container {
	padding: 60px 0px;
}

iframe {
	padding: 0px;
	/*border: 1px solid grey;*/
}

.row .movie {
	margin: 10px 0px;
}

.moviethumb img {
	padding: 0px;
	border: 1px solid grey;
}

.moviethumb img:hover, .moviethumb img:focus {
	border-color: white;
	-webkit-box-shadow: 0 0px 13px whitesmoke;
	-moz-box-shadow: 0 0px 13px whitesmoke;
	box-shadow: 0 0px 13px whitesmoke;
}
