body {
	background-color: black;
	font-family: 'Muli', sans-serif;
	font-size: 7pt;
	letter-spacing: 3px;
	color: white;
}

.logo {
	margin-bottom: 10px;
}

.container {
	padding: 60px 0px;
}

iframe {
	padding: 0px;
	/*border: 1px solid grey;*/
}

.row .movie {
	margin: 10px 0px;
}

.moviethumb img {
	padding: 0px;
	border: 1px solid grey;
}

.moviethumb img:hover, .moviethumb img:focus {
	border-color: white;
}

.movielabel {
	height: 40px;
}
.movielabel p {
	display: none;
}